.wrapper{
    height: 100vh;
    background-color: brown;
}

.first{
    width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    background-color: rgb(240, 242, 255);
    color: black;
}
.Nav{
    background-color: rgb(80, 80, 63);
}